<h1>Hola desde Twig</h1>

<a href="{{path('template_trabajo')}}">Ir a trabajo</a>
<br>
<a href="{{path('template_parametros',  {id: 12, slug: 'hola-soy-un-slug'})}}">Ir a parámetros</a>

<a href="{{path('template_layout')}}">Ir a layout</a>