{% extends "frontend.html.twig" %}

{% block title %} Formularios {% endblock %}

{% block body %} 

<h1>Formularios</h1>
<ul>
    <li><a href="{{path('formularios_simple')}}">Formulario Simple</a></li>

    <li><a href="{{path('formularios_simple2')}}">Formulario Simple2</a></li>

    <li><a href="{{path('formularios_entity')}}">Formulario entity</a></li>

    <li><a href="{{path('formularios_type_form')}}">Formulario TypeForm</a></li>
</ul>



{% endblock %}